html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------------------------------------------*/

:root {
    --main-bg: #1F2937;  
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --bt-color: #3882f6;
    --qt-bg-color: #e5e7eb;
    --qt-text-color: #1f2937;
}

html {
font-size: 18px;
font-family: sans-serif;
box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}

a {
    text-decoration: none;
    color:var(--main-text-color);
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    
    
}

.header {
    width: 100%;
    background-color: var(--main-bg);
}

.header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--main-bg); 
    align-items: center;
    align-content: center;
    height: 4rem;
    justify-content: space-between;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
}

.header__logo {
    font-size: 28px;
    color: #f9faf8;
    display: inline-block;
    margin-left: 40px;
}

.nav__list {
    display: flex;
    margin: 0 10px;
}
.nav__item {
    margin-left: 20px;
}

.nav__link:hover {
    color: gray;
    cursor: pointer;
}

.nav__item:last-child {
margin-right: 10px;
}

.hero {
    background-color: var(--main-bg);
    margin-top: -1px;
}

.hero__box {
    padding-top: 5%;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1046px;
    margin: 0px auto;
    flex: 1 1 auto;
    align-items: center;
    justify-items: space-between;
    
    
}
.hero__container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 40%;
    padding-left: 0;
    margin-left: 10px;
    max-width: 500px;
    max-height: 250px;
}

.hero__title {
    font-weight: 900;
    font-size: 48px;
    color:var(--main-text-color);
    line-height: 1;
}
.hero__subtitle {
    color:var(--main-text-color);
    font-size: 16px;
    line-height: 1.5;

}
.hero__button {
    align-self: flex-start;
    display: flex;
    width: content-box;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--bt-color);
    min-height: 42px;
    min-width: 130px;
    border-style: none;
    transition: background-color 2s;
    font-size: 17px;
}

.hero__button:hover {
    background-color: rgb(21, 40, 102) ;
    cursor: pointer;
}

.hero__image {
    overflow: hidden;
    width: 500px;
    height: 250px;
    object-fit: cover;
    background-position: right;
    margin: 20px;
}

.page__information {
    width: 100%;
    background-color: white;
}

.information__container {
    max-width: 1046px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    gap: 3.5rem;
    justify-items: center;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.information__title {
    font-size: 36px;
    font-weight: 900;
    color: var(--qt-text-color);
}
.information__columns {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-items: center;
    margin-right:  5px;
    justify-content: center;
    align-content: center;
}

.columns__item {
    max-width: 170px;
    
}
.column__image {
    width: 170px;
    height: 180px;
    object-fit: cover;
    border: 5px solid blue;
    border-radius: 9px;
}

.column__image:hover {
    opacity: 0.5;
}
.column_subtext {
    padding-top: 5px;
    text-align: center;
}


.quote {
    width: 100%;
    background-color: var(--qt-bg-color);
    margin-top: 7rem;
    padding-top: 5vw;
    padding-bottom: 5vw;
}


._container {
    max-width: 1046px;
    margin: 0px auto;
}

.quote__box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 75%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.quote__text {
    font-size: calc(1rem + 18px);
    font-style: italic; 
    font-weight: lighter;
    color:var(--qt-text-color);
    text-align: left;
    line-height: 1.3;
    
}
.quote__author {
    font-size: calc(1rem + 5px);
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action__container {
    width: 100%;
}

.call-to-action__box {
    display: flex;
    background-color: var(--bt-color);
    border-radius: 15px;
    margin: 7vw auto;
    padding: 50px 13%;
    justify-content: space-between;
}

.call-to-action__text {
    color: white;
}

.text {
    padding-right: 10px;
}

.text__title {
    font-size: calc(1rem + 9px);
    font-weight: bold;
    margin-bottom: 10px;
}

.text__subtext {
    font-weight: 200;
}

.call-to-action__button {
    border: 2px solid white;
}

.footer {
    width: 100%;
    background-color: var(--main-bg);
}

.footer__text {
    
    text-align: center;
    padding: 40px;
    color: white;
    max-width: 1046px;
    margin: 0px auto;
}


@media only screen and (max-width: 885px) {
    .call-to-action__box {
        width: 60%;
    }
}

@media only screen and (max-width: 750px) {
    .call-to-action__box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .call-to-action__button {
        align-self: stretch;
    }

    .text_title {
        text-align: center;
    }

    .text__subtext {
        text-align: left;
        line-height: 1.3;
        font-size: calc (1rem + 5px);
    }
}

